/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Noto+Sans+TC:wght@100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Limelight", "Noto Sans TC", cursive;
  font-size: 16px;
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  padding: 0.5rem;
  border: #fff;
  border-radius: 5px;
  margin-top: 0;
  font-family: "limelight";
}

.btn-primary {
  background-color: #607fb6;
  color: #fff;
}

.btn-danger {
  background-color: #FF5D50;
  color: #fff;
}

.theme-bg {
  background-color: #eee;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 8vw;
}

.banner {
  background: url("https://github.com/yellowchen/Work-04/blob/master/img/unsplash-smile.jpg?raw=true") fixed center/cover;
  height: 100vh;
  padding-right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: #607fb6;
}
@media all and (max-width: 768px) {
  .banner {
    letter-spacing: 0;
    padding-right: 1rem;
  }
}
.banner h1 {
  font-size: clamp(3.1rem, 7.1428571429vw, 8rem);
  text-shadow: 0 0 10px #ccc;
  margin: 0.5rem 0;
}
.banner h2 {
  font-size: clamp(1.5rem, 2.5714285714vw, 4rem);
}
.banner h2:first-child {
  color: #fff;
  letter-spacing: 0.5rem;
}

.header {
  height: 80px;
  line-height: 80px;
  background: linear-gradient(to right, #b1939d 0%, #a27f9d 25%, #797ab0 50%, #607fb6 75%, #5787af 100%);
  padding: 0 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.header nav {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  width: 54px;
  height: 54px;
  font-size: 48px;
  color: currentColor;
  border: 4px solid currentColor;
  border-radius: 50%;
  text-align: center;
}
.logo a {
  color: currentColor;
}
.logo a .fa {
  vertical-align: top;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media all and (max-width: 768px) {
  .menu {
    position: fixed;
    background-color: antiquewhite;
    top: 100px;
    right: -100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }
}
.menu .menu-link {
  margin: 0 1.5rem;
  font-size: 20px;
}
.menu .menu-link a {
  color: currentColor;
}
@media all and (max-width: 768px) {
  .menu .menu-link a {
    color: #607fb6;
  }
}

.menu.active {
  right: 0;
}

.nav-side {
  display: flex;
  align-items: center;
}
.nav-side .cart {
  font-size: 32px;
  position: relative;
}
.nav-side .cart {
  font-size: 32px;
  position: relative;
  color: #fff;
}
.nav-side .cart .cart-quantity {
  position: absolute;
  font-size: 12px;
  font-family: "limelight";
  font-weight: 400;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: -9px;
}
.nav-side .bread-crumb {
  display: none;
}
.nav-side .bread-crumb .bar {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  border-radius: 20px;
  margin: 8px 0;
  transition: 0.3s;
}
@media all and (max-width: 768px) {
  .nav-side .bread-crumb {
    cursor: pointer;
    display: block;
    margin-left: 4vw;
  }
}
.nav-side .bread-crumb.active .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.nav-side .bread-crumb.active .bar:nth-child(2) {
  opacity: 0;
}
.nav-side .bread-crumb.active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.nav-effect {
  height: 80px;
}

.footer {
  padding: 2rem 6rem 1rem;
  color: #fff;
  background: linear-gradient(to right, #b1939d 0%, #a27f9d 25%, #797ab0 50%, #607fb6 75%, #5787af 100%);
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 1.5;
}
@media all and (max-width: 992px) {
  .footer {
    padding: 1rem;
  }
}
@media all and (max-width: 576px) {
  .footer {
    font-size: 16px;
  }
}

.service {
  border-bottom: 2px solid currentColor;
  padding-bottom: 2%;
  margin: 0 2% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media all and (max-width: 768px) {
  .service {
    flex-direction: column;
    justify-content: center;
  }
}
.service .company {
  margin: auto 0;
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 768px) {
  .service .company {
    text-align: center;
    margin-bottom: 1vh;
    line-height: 0.5;
  }
}
.service .company h4 {
  padding: 0.5rem 0;
}
.service .social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.social-media-icons a {
  color: currentColor;
  font-size: 32px;
  padding: 0 1rem;
}

.subscribe {
  width: 16rem;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
@media all and (max-width: 576px) {
  .subscribe {
    display: none;
  }
}
.subscribe .subscribe-txt {
  border: 5px solid #fff;
  border-radius: 5px 5px 0 0;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media all and (max-width: 768px) {
  .subscribe .subscribe-txt {
    font-size: 16px;
  }
}
.subscribe .subscribe-txt h5 {
  text-align: center;
  margin-bottom: 0.5rem;
}
.subscribe .subscribe-txt p {
  font-weight: 400;
}
@media all and (max-width: 768px) {
  .subscribe .subscribe-txt p {
    display: none;
  }
}
.subscribe .subscribe-btn {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.subscribe .subscribe-btn input {
  padding: 0.3rem;
  border: 1px solid #fff;
  outline: 0;
}
.subscribe .subscribe-btn input[type=text] {
  border-radius: 0 0 0 5px;
  width: 0;
  flex-grow: 1;
}
.subscribe .subscribe-btn input[type=button] {
  color: #607fb6;
  font-family: "limelight";
  border-radius: 0 0 5px 0;
  background-color: #fff;
}

.copyright {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}
@media all and (max-width: 992px) {
  .copyright {
    font-size: 1.5;
    justify-content: center;
  }
}
@media all and (max-width: 576px) {
  .copyright {
    font-size: 12px;
  }
}
.copyright .terms a {
  color: #fff;
}
@media all and (max-width: 992px) {
  .copyright .terms {
    display: none;
  }
}

.recent .container h2 {
  font-size: 48px;
  margin-bottom: 1rem;
}
@media all and (max-width: 768px) {
  .recent .container h2 {
    text-align: center;
  }
}
@media all and (max-width: 992px) {
  .recent .container {
    padding: 3rem 2rem 2rem;
  }
}
@media all and (max-width: 768px) {
  .recent .container {
    padding: 2rem 0rem 1rem;
  }
}

.recent-expo-all {
  display: flex;
  flex-direction: column;
}
.recent-expo-all .r-expo-item {
  height: 100%;
  margin-bottom: 1rem;
  background-color: #ffe9e7;
  display: flex;
}
.recent-expo-all .r-expo-item .r-expo-pic {
  width: 100%;
  height: 100%;
}
.recent-expo-all .r-expo-item .r-expo-pic img {
  width: 300px;
  height: 300px;
}
@media all and (max-width: 768px) {
  .recent-expo-all .r-expo-item .r-expo-pic img {
    width: 100%;
    height: 300px;
  }
}
@media all and (max-width: 768px) {
  .recent-expo-all .r-expo-item {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

.r-expo-content {
  display: flex;
}
.r-expo-content .r-expo-txt {
  line-height: 1.5;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 768px) {
  .r-expo-content .r-expo-txt {
    padding: 0.5rem;
  }
}
.r-expo-content .r-expo-txt h4 {
  font-size: 24px;
  color: #607fb6;
  margin-bottom: 0.5rem;
}
.r-expo-content .r-expo-txt h4 small {
  font-size: 18px;
}
@media all and (max-width: 992px) {
  .r-expo-content .r-expo-txt h4 {
    margin-bottom: 0;
  }
}
.r-expo-content .r-expo-txt .r-expo-btn {
  width: 13rem;
  margin-top: auto;
  display: flex;
}
.r-expo-content .r-expo-txt .r-expo-btn input {
  border: 1px solid #ffe9e7;
  border-radius: 5px;
  padding: 0.4rem 0.5rem;
  color: #ffe9e7;
  background: #607fb6;
  margin-right: 0.5rem;
  font-family: "limelight";
  width: 0;
  flex-grow: 1;
}
.r-expo-content .r-expo-other {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.r-expo-content .r-expo-other .r-expo-date {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  align-items: flex-end;
}
.r-expo-content .r-expo-other .r-expo-media {
  font-size: 32px;
}

.form .container {
  display: flex;
}
@media all and (max-width: 992px) {
  .form .container {
    flex-direction: column;
  }
}

.side {
  position: sticky;
  top: 120px;
  bottom: 0;
  height: 100%;
  margin: 1vh 3vw 3vh 0;
}
@media all and (max-width: 992px) {
  .side {
    position: static;
  }
}
.side .side-menu {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.side .side-menu .side-link {
  width: 200px;
  padding: 0.8rem 1rem;
  border: 1px solid #bbb;
}
.side .side-menu .side-link a {
  color: #000;
  display: block;
}
@media all and (max-width: 992px) {
  .side .side-menu .side-link {
    width: 100%;
  }
}
.side .side-menu .side-link:first-child {
  text-align: center;
  background-color: #000;
  color: #fff;
}

.article {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
}

.article-item {
  padding-bottom: 1rem;
}
.article-item h4 {
  border-left: 5px solid #000;
  padding: 1rem;
  font-size: 20px;
}
.article-item p {
  padding: 1rem;
  background-color: #fff;
  line-height: 1.5;
  text-align: justify;
}
.article-item p img {
  float: right;
  margin: 0.5rem;
}
@media all and (max-width: 768px) {
  .article-item p img {
    width: 30vw;
  }
}

.expo-all {
  display: flex;
}

.expo-unit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6vh;
}
.expo-unit:nth-child(even) {
  flex-direction: row-reverse;
}
@media all and (max-width: 992px) {
  .expo-unit:nth-child(even) {
    flex-direction: column;
  }
}
@media all and (max-width: 992px) {
  .expo-unit {
    flex-direction: column;
  }
}

.expo-txt {
  width: 46%;
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 992px) {
  .expo-txt {
    width: 100%;
  }
}
.expo-txt .expo-title {
  padding-bottom: 2vh;
}
.expo-txt .expo-title h4 {
  font-size: 24px;
  color: #607fb6;
  margin-bottom: 2vh;
}
.expo-txt .expo-title h4 small {
  font-size: 16px;
  display: block;
  padding-top: 1vh;
}
.expo-txt h5 {
  padding: 0 2vw;
  margin-bottom: 2vh;
  border-left: 5px solid #b1939d;
  line-height: 1.25;
}
.expo-txt p {
  line-height: 1.5;
  font-weight: 400;
  padding-left: 4vw;
}

.expo-img {
  width: 50%;
  position: relative;
  margin-top: 2vh;
  text-align: center;
}
@media all and (max-width: 992px) {
  .expo-img {
    width: 100%;
  }
}
.expo-img::before {
  content: "01";
  position: absolute;
  width: 6vw;
  height: 2.5vw;
  padding: 0.5vw 0;
  margin: 0 auto;
  font-size: 2vw;
  color: #b1939d;
  background-color: #eee;
}
.expo-img img {
  width: 90%;
  height: auto;
  border-top: 2.5vw solid #b1939d;
  border-right: 2.5vw solid #b1939d;
}
@media all and (max-width: 992px) {
  .expo-img img {
    width: 50%;
  }
}

.expo-unit:nth-of-type(2) .expo-img::before {
  content: "02";
}
.expo-unit:nth-of-type(3) .expo-img::before {
  content: "03";
}
.expo-unit:nth-of-type(4) .expo-img::before {
  content: "04";
}

@media all and (max-width: 992px) {
  .ticket .container {
    padding: 3.2vw 2.4vw 2.4vw;
  }
}
@media all and (max-width: 768px) {
  .ticket .container {
    padding: 3vw 0vw 2vw;
  }
}

.ticket-nav {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 4vh;
}
.ticket-nav li {
  min-width: 120px;
  margin-right: 1rem;
  padding-bottom: 1.5rem;
  text-align: center;
}
@media all and (max-width: 768px) {
  .ticket-nav li {
    width: 50%;
    margin: 0;
    padding-bottom: 1rem;
  }
}
.ticket-nav li .btn-change {
  width: 100%;
  color: #000;
  font-size: 20px;
  padding-bottom: calc(1.5rem - 5px);
}
@media all and (max-width: 768px) {
  .ticket-nav li .btn-change {
    padding-bottom: calc(1rem - 5px);
  }
}
.ticket-nav li .btn-change.active {
  color: #FF5D50;
  border-bottom: 5px solid #FF5D50;
}

.ticket-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 768px) {
  .ticket-all {
    flex-direction: column;
  }
}
.ticket-all .ticket-item {
  width: 31%;
  margin: 1%;
  border: 1px solid #ccc;
}
@media all and (max-width: 768px) {
  .ticket-all .ticket-item {
    width: 100%;
    margin: 0 0 1rem;
  }
}
.ticket-all .ticket-item .ticket-pic {
  width: 100%;
  height: auto;
}

.ticket-txt {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.ticket-txt .ticket-title {
  font-size: 18px;
  margin-bottom: 3vh;
}
.ticket-txt h5 {
  font-size: 16px;
  line-height: 1.25;
}
.ticket-txt h5 .fa {
  font-weight: 400;
  width: 25px;
  text-align: center;
  margin-right: 0.5rem;
}
.ticket-txt .ticket-price {
  font-size: 20px;
  margin: 3vh 0;
  color: #FF5D50;
}
.ticket-txt input {
  align-self: flex-end;
}

.product-menu {
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
}
.product-menu::before, .product-menu::after {
  content: "";
  width: 0;
  height: 1px;
  margin: auto 0;
  background-color: #aaa;
  flex-grow: 1;
}
.product-menu .product-link {
  min-width: 150px;
  border: 1px solid #aaa;
  padding: 1rem 0;
  margin: 0 1vw;
  text-align: center;
  position: relative;
}
@media all and (max-width: 576px) {
  .product-menu .product-link {
    min-width: 130px;
  }
}
@media all and (max-width: 430px) {
  .product-menu .product-link {
    font-size: 12px;
    min-width: 100px;
  }
}
.product-menu .product-link:hover {
  background-color: #607fb6;
  border: currentColor;
}
.product-menu .product-link:hover a {
  color: #fff;
}
.product-menu .product-link a {
  width: 100%;
  color: #aaa;
}

.product-link.active {
  background-color: #607fb6;
  border: currentColor;
}
.product-link.active a {
  color: #fff;
}
.product-link.active::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #607fb6;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  top: 48px;
  left: 65px;
}

.owl-carousel {
  position: static;
}

.owl-theme .item {
  min-width: 180px;
  padding: 0.5rem;
  position: relative;
}
.owl-theme .owl-nav {
  margin-top: 2vh;
}
.owl-theme .owl-nav [class*=owl-] {
  margin: 20px;
}
.owl-theme .owl-dots {
  display: none;
}

.owl-theme .item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid transparent;
  top: -32px;
  right: -32px;
  transform: rotate(45deg);
}
.owl-theme .item::before {
  content: "More";
  position: absolute;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  top: 22px;
  right: 8px;
  z-index: -1;
}
.owl-theme .item:hover {
  border: 3px double #aaa;
  border-radius: 5px;
}
.owl-theme .item:hover.item::before {
  z-index: 1;
}
.owl-theme .item:hover.item::after {
  border-bottom: 40px solid #FF5D50;
}

.owl-theme .item a {
  width: 100%;
}
.owl-theme .item a .item-txt {
  width: 100%;
  height: 90px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 1.25;
  text-align: center;
  color: #000;
}
.owl-theme .item a .item-txt p:last-child {
  color: #FF5D50;
  margin-top: auto;
}

.store .container {
  padding: 8vw 8vw 2vw;
  display: flex;
  flex-direction: column;
}
.store .container .section-header {
  text-align: center;
  font-size: 48px;
  margin-bottom: 4vw;
  display: flex;
}
.store .container .section-header::before, .store .container .section-header::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #000;
  flex-grow: 1;
  margin: auto 2vw;
}
@media all and (max-width: 576px) {
  .store .container {
    padding: 2vw;
  }
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.shop-items .shop-item {
  width: 300px;
  height: auto;
  margin: 3.5vw;
  display: flex;
  flex-direction: column;
}
.shop-items .shop-item .shop-item-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 3vw;
}
.shop-items .shop-item .shop-item-image {
  width: 300px;
  height: 300px;
  margin-bottom: 2vw;
}
.shop-items .shop-item .shop-item-details {
  padding: 0 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-row {
  color: #444;
  display: flex;
}
.cart-row .cart-header.cart-item,
.cart-row .cart-header.cart-price,
.cart-row .cart-header.cart-quantity {
  padding-bottom: 1vw;
  border-bottom: 2px solid currentColor;
  margin: 0 2vw 2vw 0;
}
.cart-row .cart-header.cart-quantity {
  margin-right: 0;
}
.cart-row .cart-item {
  width: 45%;
}
.cart-row .cart-price {
  width: 25%;
}
.cart-row .cart-quantity {
  width: 30%;
}

.cart-items {
  display: flex;
  flex-direction: column;
}
.cart-items .cart-row {
  margin-bottom: 2vw;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.cart-items .cart-row .cart-column.cart-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.cart-items .cart-row .cart-column.cart-item .cart-item-image {
  width: 100px;
  height: 100px;
  margin-right: 2vw;
}
.cart-items .cart-row .cart-column.cart-quantity {
  padding: 0 3vw;
  display: flex;
  justify-content: space-between;
}
.cart-items .cart-row .cart-column.cart-quantity .cart-quantity-input {
  width: 6vw;
  font-size: 16px;
}

.cart-total {
  color: #444;
  padding-top: 1vw;
  border-top: 2px solid currentColor;
  margin-bottom: 5vw;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}
.cart-total .cart-total-title {
  margin-right: 2vw;
}

.btn-purchase {
  padding: 1rem;
  margin: 0 auto 6vw;
  font-size: 24px;
  background-color: #185a9d;
  color: #fff;
}/*# sourceMappingURL=all.css.map */