// <!-- 02 BANNER -->
.banner {
    background: 
    url("/img/tim-mossholder-8R-mXppeakM-unsplash.jpg") fixed center / cover;
    height: 100vh;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: $primary;
    @include media-md {
        letter-spacing: 0;
        padding-right: 1rem;
    }
    h1 {
        font-size: clamp(3.1rem, pxToVw(100), 8rem);
        text-shadow: $ts-a;
        margin: .5rem 0;
    }
    h2 {
        font-size: clamp(1.5rem, pxToVw(36), 4rem);
    }
    h2:first-child {
        color: #fff;
        letter-spacing: .5rem;
    }
}