.form {
    .container {
        display: flex;
        @include media-lg {
            flex-direction: column;
        }
    }
}

.side {
    position: sticky;
    top: 120px;
    bottom: 0;
    height: 100%;
    margin: 1vw 3vw 2vw;   
    @include media-lg {
        position: static;
    }   
    .side-menu {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .side-link {
            width: 200px;
            padding: .8rem 1rem;
            border: 1px solid #bbb;
            &:hover a{
                color: $secondary;
            } 
            a {
                color: #000;
                display: block;
                //將<a>設定為display: block; 增加點擊範圍
            }
            @include media-lg {
                width: 100%;
            }
        }
        .side-link:first-child {
            text-align: center;
            background-color: #000;
            color: #fff;
        }
    }
}


.article {
    margin: 1vw 3vw 6vw; 
    display: flex;
    flex-direction: column;
}

.article-item {
    padding-bottom: 4vw;
    h4 {
        border-left: 5px solid #000;
        padding: 1rem;
        font-size: $h4-font-size;
    }
    p {
        padding: 1rem;
        background-color: #fff;
        line-height: $lh-base;
        text-align: justify;
        img {
            float: right;
            margin: .5rem;
            @include media-md {
                width: 30vw;
            }
        }
    }
}
