// recent
.recent {
    .container {
        h2 {
            font-size: $h2-font-size;
            margin-bottom: 1vw;
            @include media-md {
                text-align: center;
            }   
        }
    }
}

.recent-expo-all {
    display: flex;
    flex-direction: column;
    .r-expo-item {
        height: 100%;
        margin-bottom: 2rem;
        background-color: #ffe9e7;
        display: flex;
        @include media-md {
            flex-direction: column;
            width: 100%;
            height: 100%;
        }
    }
}

.r-expo-pic {
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: 300px;
        @include media-md {
            width: 100%;
            height: 300px;
        }
    }
}

.r-expo-content {
    display: flex;
    .r-expo-txt {
        line-height: $lh-base;
        padding: 1vw;  
        display: flex;
        flex-direction: column;
        @include media-md {
            padding: .5rem;
        }
        h4 {
            font-size: $h4-font-size;
            color: $primary;
            margin-bottom: .5rem;
            small {
                font-size: $h6-font-size;
            }
            @include media-lg {
                margin-bottom: 0;
            }
        }
        .r-expo-btn {
            width: 14rem;
            margin-top: auto;
            display: flex;
            @include media-md {
                margin-top: 2vw;
            }
            input {
                width: 0;
                margin-right: .5rem;
                flex-grow: 1;
                color: #ffe9e7;
            }
        }
        
    }
    .r-expo-other {
        padding: 1vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .r-expo-date {
            display: flex;
            flex-direction: column;
            line-height: $lh-base;
            align-items: flex-end;
        }
        .r-expo-media {
            font-size: $h3-font-size;
        }
    }
}