// recent
.recent .container {
    h2 {
        font-size: $h2-font-size;
        margin-bottom: 1rem;
        @include media-md {
            text-align: center;
        }   
    }
    @include media-lg {
        padding: 3rem 2rem 2rem;
    }
    @include media-md {
        padding: 2rem 0rem 1rem;
    }
}




.recent-expo-all {
    display: flex;
    flex-direction: column;
    .r-expo-item {
        height: 100%;
        margin-bottom: 1rem;
        background-color: #ffe9e7;
        display: flex;
        .r-expo-pic {
            width: 100%;
            height: 100%;
            img {
                width: 300px;
                height: 300px;
                @include media-md {
                    width: 100%;
                    height: 300px;
                }
            }
        }
        @include media-md {
            flex-direction: column;
            width: 100%;
            height: 100%;
        }
    }
}

.r-expo-content {
    display: flex;
    .r-expo-txt {
        line-height: $lh-base;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        @include media-md {
            padding: .5rem;
        }
        h4 {
            font-size: $h4-font-size;
            color: $primary;
            margin-bottom: .5rem;
            small {
                font-size: $h6-font-size;
            }
            @include media-lg {
                margin-bottom: 0;
            }
        }
        .r-expo-btn {
            width: 13rem;
            margin-top: auto;
            display: flex;
            input {
                border: 1px solid #ffe9e7;
                border-radius: 5px;
                padding: .4rem .5rem;
                color: #ffe9e7;
                background: $primary;
                margin-right: .5rem;
                font-family: "limelight";
                width: 0;
                flex-grow: 1;
            }
        }
        
    }
    .r-expo-other {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .r-expo-date {
            display: flex;
            flex-direction: column;
            line-height: $lh-base;
            align-items: flex-end;
        }
        .r-expo-media {
            font-size: $h3-font-size;
        }
    }
}